#heading47 {
    color: green;
    font-size: 30px;
    
}
#heading47:hover {
    background-color: red ;
    border: 3px solid;
} 
#capture1 {
    background-color: lightseagreen;
    color: springgreen;

}
#capture1:hover {
    background-color: yellowgreen;
    border: 3px solid;
} 